/* Custom header name */

#header-bottom-left {
    width: 1000px;
    top: calc(100px - 8px);
}

#header .pagename a {
    font-size: 0
}

#header .pagename a:hover {
    text-decoration: none;
}

#header .pagename a::before {
    content: " ";
    display: inline-block;
    vertical-align: -0.125em;
    margin-right: 0.2em;
    width: 1em;
    height: 1em;
    background: url(%%logo%%);
    background-size: 1em;
    font-size: 42px;
}

#header .pagename a::after {
    font-size: 50%;
    font-size: 42px;
}

#header .tabmenu::before {
    width: 100vw
}

/* Flairs */

.linkflairlabel {
    margin-left: 0.5em;
}

/* Link flair images (to be rewritten, refer "User Flair Images" flair) */

/*

.linkflairlabel[title="Processed Entry"]:before,
.linkflairlabel[title="Rejected Entry"]:before,
.linkflairlabel[title="Edit Entry"]:before,
.linkflairlabel[title="New Entry"]:before,
.linkflairlabel[title="Announcement"]:before,
.linkflairlabel[title="Clarification Needed"]:before,
.linkflairlabel[title="Discussion"]:before {
    background-position: center;
    background-size: 135%;
    margin-right: 0.25em;
    width: 1em;
    height: 1em;
    vertical-align: -0.125em;
    display: inline-block;
    content: ' ';
}

.linkflairlabel[title="Processed Entry"]:before {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxZW0iIGhlaWdodD0iMWVtIiB2aWV3Qm94PSIwIDAgMjQgMjQiPjxwYXRoIGZpbGw9IiNmZmZmZmYiIGQ9Ik05IDE2LjE3TDUuNTMgMTIuN2EuOTk2Ljk5NiAwIDEgMC0xLjQxIDEuNDFsNC4xOCA0LjE4Yy4zOS4zOSAxLjAyLjM5IDEuNDEgMEwyMC4yOSA3LjcxYS45OTYuOTk2IDAgMSAwLTEuNDEtMS40MUw5IDE2LjE3eiIvPjwvc3ZnPg==);
}

.linkflairlabel[title="Rejected Entry"]:before {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxZW0iIGhlaWdodD0iMWVtIiB2aWV3Qm94PSIwIDAgMjQgMjQiPjxwYXRoIGZpbGw9IiNmZmZmZmYiIGQ9Ik0xOC4zIDUuNzFhLjk5Ni45OTYgMCAwIDAtMS40MSAwTDEyIDEwLjU5TDcuMTEgNS43QS45OTYuOTk2IDAgMSAwIDUuNyA3LjExTDEwLjU5IDEyTDUuNyAxNi44OWEuOTk2Ljk5NiAwIDEgMCAxLjQxIDEuNDFMMTIgMTMuNDFsNC44OSA0Ljg5YS45OTYuOTk2IDAgMSAwIDEuNDEtMS40MUwxMy40MSAxMmw0Ljg5LTQuODljLjM4LS4zOC4zOC0xLjAyIDAtMS40eiIvPjwvc3ZnPg==);
}

.linkflairlabel[title="Edit Entry"]:before {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxZW0iIGhlaWdodD0iMWVtIiB2aWV3Qm94PSIwIDAgMjQgMjQiPjxwYXRoIGZpbGw9IiNmZmZmZmYiIGQ9Ik0zIDE3LjQ2djMuMDRjMCAuMjguMjIuNS41LjVoMy4wNGMuMTMgMCAuMjYtLjA1LjM1LS4xNUwxNy44MSA5Ljk0bC0zLjc1LTMuNzVMMy4xNSAxNy4xYy0uMS4xLS4xNS4yMi0uMTUuMzZ6TTIwLjcxIDcuMDRhLjk5Ni45OTYgMCAwIDAgMC0xLjQxbC0yLjM0LTIuMzRhLjk5Ni45OTYgMCAwIDAtMS40MSAwbC0xLjgzIDEuODNsMy43NSAzLjc1bDEuODMtMS44M3oiLz48L3N2Zz4=);
}

.linkflairlabel[title="New Entry"]:before {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxZW0iIGhlaWdodD0iMWVtIiB2aWV3Qm94PSIwIDAgMjQgMjQiPjxwYXRoIGZpbGw9IiNmZmZmZmYiIGQ9Ik0xOCAxMi45OThoLTV2NWExIDEgMCAwIDEtMiAwdi01SDZhMSAxIDAgMCAxIDAtMmg1di01YTEgMSAwIDAgMSAyIDB2NWg1YTEgMSAwIDAgMSAwIDJ6Ii8+PC9zdmc+);
    background-size: 150%;
}

.linkflairlabel[title="Announcement"]:before {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxZW0iIGhlaWdodD0iMWVtIiB2aWV3Qm94PSIwIDAgMjQgMjQiPjxwYXRoIGZpbGw9IiNmZmZmZmYiIGQ9Ik0xMiAyM2MxLjEgMCAxLjk5LS44OSAxLjk5LTEuOTloLTMuOThjMCAxLjEuODkgMS45OSAxLjk5IDEuOTl6bTguMjktNC43MUwxOSAxN3YtNmMwLTMuMzUtMi4zNi02LjE1LTUuNS02LjgzVjNjMC0uODMtLjY3LTEuNS0xLjUtMS41cy0xLjUuNjctMS41IDEuNXYxLjE3QzcuMzYgNC44NSA1IDcuNjUgNSAxMXY2bC0xLjI5IDEuMjljLS42My42My0uMTkgMS43MS43IDEuNzFoMTUuMTdjLjkgMCAxLjM0LTEuMDguNzEtMS43MXpNMTMgMTZoLTJ2LTJoMnYyem0wLTVjMCAuNTUtLjQ1IDEtMSAxcy0xLS40NS0xLTFWOWMwLS41NS40NS0xIDEtMXMxIC40NSAxIDF2MnoiLz48L3N2Zz4=);
    background-size: 100%;
}

.linkflairlabel[title="Clarification Needed"]:before {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxZW0iIGhlaWdodD0iMWVtIiB2aWV3Qm94PSIwIDAgMjQgMjQiPjxwYXRoIGZpbGw9IiNmZmZmZmYiIGQ9Ik0xMC42IDE2cTAtMi4wMjUuMzYzLTIuOTEzVDEyLjUgMTEuMTVxMS4wMjUtLjkgMS41NjMtMS41NjN0LjUzNy0xLjUxMnEwLTEuMDI1LS42ODctMS43VDEyIDUuN3EtMS4yNzUgMC0xLjkzOC43NzVUOS4xMjYgOC4wNUw2LjU1IDYuOTVxLjUyNS0xLjYgMS45MjUtMi43NzVUMTIgM3EyLjYyNSAwIDQuMDM4IDEuNDYzdDEuNDEyIDMuNTEycTAgMS4yNS0uNTM3IDIuMTM4dC0xLjY4OCAyLjAxMlExNCAxMy4zIDEzLjczOCAxMy45MTNUMTMuNDc1IDE2SDEwLjZabTEuNCA2cS0uODI1IDAtMS40MTItLjU4OFQxMCAyMHEwLS44MjUuNTg4LTEuNDEzVDEyIDE4cS44MjUgMCAxLjQxMy41ODhUMTQgMjBxMCAuODI1LS41ODggMS40MTNUMTIgMjJaIi8+PC9zdmc+);
    background-size: 100%;
}

.linkflairlabel[title="Discussion"]:before {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxZW0iIGhlaWdodD0iMWVtIiB2aWV3Qm94PSIwIDAgMjQgMjQiPjxwYXRoIGZpbGw9IiNmZmZmZmYiIGQ9Im01IDguNzVsLTIuNzUtMy4xcS0uNDI1LS41LS4xNjItMS4wNzVRMi4zNSA0IDMgNGgxN3EuODI1IDAgMS40MTMuNTg4UTIyIDUuMTc1IDIyIDZ2MTJxMCAuODI1LS41ODcgMS40MTNRMjAuODI1IDIwIDIwIDIwSDdxLS44MjUgMC0xLjQxMi0uNTg3UTUgMTguODI1IDUgMThaTTkgMTNoOXEuNDI1IDAgLjcxMi0uMjg4UTE5IDEyLjQyNSAxOSAxMnQtLjI4OC0uNzEzUTE4LjQyNSAxMSAxOCAxMUg5cS0uNDI1IDAtLjcxMi4yODdROCAxMS41NzUgOCAxMnQuMjg4LjcxMlE4LjU3NSAxMyA5IDEzWm0wIDNoNnEuNDI1IDAgLjcxMy0uMjg4UTE2IDE1LjQyNSAxNiAxNXQtLjI4Ny0uNzEzUTE1LjQyNSAxNCAxNSAxNEg5cS0uNDI1IDAtLjcxMi4yODdROCAxNC41NzUgOCAxNXQuMjg4LjcxMlE4LjU3NSAxNiA5IDE2Wm0wLTZoOXEuNDI1IDAgLjcxMi0uMjg4UTE5IDkuNDI1IDE5IDl0LS4yODgtLjcxM1ExOC40MjUgOCAxOCA4SDlxLS40MjUgMC0uNzEyLjI4N1E4IDguNTc1IDggOXQuMjg4LjcxMlE4LjU3NSAxMCA5IDEwWiIvPjwvc3ZnPg==);
    background-size: 100%;
}

*/

.linkflairlabel {
    margin-top: 4px !important;
    margin-bottom: 0 !important;
}

.flairsample-right {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

/* Text to show on Reddit submission */

/* 	body:lang(so) #text-field .roundfield-content > * {
		display: none;
	} */

body:lang(so) #newlink .roundfield-content:before {
    font-size: 0.75em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    background: #ffd54f;
    display: block;
    padding: 0.5em;
}

body:lang(so) #text-field .roundfield-content:before {
    content: "You are doing a submission from the website. Please leave it as-is!";
}

body:lang(so) #flair-field .roundfield-content:before {
    content: 'You are doing a submission from the website. Select either New Entry or Edit Entry.';
}

body:lang(so) #text-field:focus-within .roundfield-content {
    display: block;
}

body:lang(so) #reddit-field {
    display: none;
}

/* body:lang(so) .flairoptionpane .flairsample-right {
    display: none !important;
} */

#evts-colls-promo-js {
    display: none !important;
}

/* 	#newlink-with-image-upload > div:nth-child(5) {
		margin-bottom: 0;
	}
	
	#newlink-with-image-upload > div:nth-child(6) {
		margin-top: 0;
	}
	
	#title-field {
		box-shadow: 0 -2px 4px 0 rgba(0, 0, 0, 0.14);
		border-bottom-left-radius: 0;
		border-bottom-right-radius: 0;
		
	}
	
	#text-field {
		box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.14);
		border-top-left-radius: 0;
		border-top-right-radius: 0;
		padding-top: 0;
	}
	
	textarea.title {
		overflow-x: hidden;
  		overflow-wrap: break-word;
	} */

/* To hidden */

.thumbnail.self,
.thumbnail.nsfw,
.give-gold-button,
#suggested-reddits {
    display: none !important;
    visibility: hidden !important;
}

/* Fix unaligned navTop */

.res.res-navTop #header-bottom-right {
    top: 0;
    right: 0;
}

/* Remove sidebar image (to be rewritten based on "Remove Sidebar Image" addon) */

.side::before {
    display: none
}

.side {
    margin-top: calc(282px - 72px)
}

.search-page .side {
    margin-top: calc(280px - 136px);
}

/* .side .titlebox h1.redditname::before, */
.side .titlebox h1.redditname,
.titlebox span.subscribers,
.titlebox .fancy-toggle-button,
.submit .morelink,
#search,
.comments-page .side .linkinfo,
.other-discussions-page .side .linkinfo {
    margin-top: -72px
}

.res.comments-page .side {
    margin-top: calc(414px - 72px);
}

.comments-page .side,
.other-discussions-page .side {
    margin-top: calc(400px - 72px);
}

.comments-page .side .linkinfo .shortlink,
.other-discussions-page .side .linkinfo .shortlink {
    font-size: 90%;
    margin-top: calc(-2px);
    visibility: hidden;
    height: calc(98px + 72px);
}

/* Custom header and footer image adjustments */

#header {
    background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.2)), url(%%headerimg%%) 50% 50% / cover no-repeat;
    height: 204px;
    /* 196 + 8 */
}

#header .tabmenu::before {
    background: linear-gradient(90deg, rgba(0,0,0,.48) 90% , transparent);
}

.footer-parent {
    padding: 16px;
    height: 256px;
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.9)), url(%%footer%%) 50% 0 / cover no-repeat;
}

/* Fix bug on search */

.search-page #search, .res .search-page #search {
    /* position: absolute;
    top: -146px;
    left: 50%; */
    -webkit-transform: translate(0%) !important;
    transform: translate(0%) !important;
}